
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

thead th {
    background-color: #0d6efd; 
    color: white;
    font-weight: bold;
    text-align: center;
}


tbody tr {
    background-color: #f8f9fa; 
}

    tbody tr:nth-child(even) {
        background-color: #e9ecef; 
    }


.btn-info {
    background-color: #17a2b8;
    border-radius: 5px;
}

.btn-danger {
    background-color: #dc3545;
    border-radius: 5px;
}
