@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 60vh;">
    <h1>Welcome to 🌿 BreezeMart 🌿</h1>
    <p class="lead">Your one-stop shop for fresh and healthy products.</p>
</div>
