@model NorthwindMVC.Models.Category
@{
    Layout = null;
}


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>Name: @Model.CategoryName</p>
<p>Description: @Model.Description</p>


<a href="@Url.Action("Index")" class="btn btn-primary">Back</a>

